body {
    font-family: Arial, sans-serif;
    margin: 10px;
    color: #013476;
    background-image: url('backround.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
}

.table {
    display: flex;
    flex-direction: column;
    color: yellow;
}

.row {
    display: flex;
    color: rgb(0, 0, 0);
}

.head {
    background-color: lightgray;
}

.cell {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
}

.logo {
    width: 100px;
    height: auto;
}

h1 {
    text-align: center;
}

.input-container {
    text-align: center;
    margin-bottom: 10px;
    outline-color: #013476;
}

input[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    outline-color: #013476;
}

body.dark-mode {
    background-color: #121212; /* Dunkler Hintergrund */
    color: #ffffff; /* Helle Schriftfarbe */
    background-image: none; /* Hintergrundbild im Dark Mode entfernen */
}

body.dark-mode input, 
body.dark-mode select, 
body.dark-mode textarea {
    background-color: #333333; /* Dunkler Hintergrund für Eingabefelder */
    color: #ffffff; /* Helle Schriftfarbe für Eingabefelder */
    border: 1px solid #ffffff; /* Helle Rahmenfarbe */
}

body.dark-mode .cell {
    background-color: #1e1e1e; /* Dunkler Hintergrund für Zellen */
}
